<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736705129470-a5lfejedpg9jv1bd3ef0168sgk949qhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736705129470-a5lfejedpg9jv1bd3ef0168sgk949qhu</string>
	<key>API_KEY</key>
	<string>AIzaSyD18f40KskIyN7BMDG9NfVzASARr6-xZUk</string>
	<key>GCM_SENDER_ID</key>
	<string>736705129470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PTgroup.PTchat</string>
	<key>PROJECT_ID</key>
	<string>messenger-4c5aa</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-4c5aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736705129470:ios:18f99babf277774ee6aeaf</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-4c5aa.firebaseio.com</string>
</dict>
</plist>